#wrapper {
    display:grid;
    grid-template-areas: 
    'hd'
    'bl'
    'se1'
    'se2'
    'ft';
    grid-template-rows: 7.5rem 1fr 10rem 10rem;
    width:100%;
    background-color: rgb(54, 53, 53);
    font-family: 'Readex Pro', sans-serif;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    grid-area: hd;
}

.header{
    text-decoration: none;
    color: white;

}
.header:hover{
    color: lightgray;

}

.main{
    text-decoration: none;
    color: black;

}

.main:hover{
    color:rgb(128, 125, 125);

}

li{
    color: white;
    display: inline;
    margin-left: 2rem;
    font-size: 1.5rem;
}

ul{
    list-style-type: none;
}

nav{
    padding:2rem;
}

#logga{
    width: 13rem;
    height: 8rem;

}

#startbild{
    grid-area: bl;
    background-image:"img/Startbild.jpg";
    border: 4px solid black;
    background-size: cover; 

}

h3{
    display: flex;
    justify-content: center;
    font-size: 2rem;

}

p{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;

}

#se1{
    grid-area: se1;
    display:flex; 
    justify-content: center;

}

#a1{

    background-color: lightgray;
    width: 20rem;
    height: 20rem;
    margin: 3rem;
    margin-top: 5rem;
}

#a2{

    background-color: lightgray;
    width: 20rem;
    height: 20rem;
    margin: 3rem;
    margin-top: 5rem;
}

#a3{

    background-color: lightgray;
    width: 20rem;
    height: 20rem;
    margin: 3rem;
    margin-top: 5rem;
}

#se2{
    grid-area: se1;
    display:flex; 
    justify-content: center;

}

#a4{

    background-color: lightgray;
    width: 20rem;
    height: 20rem;
    margin: 3rem;
    margin-top: 5rem;
    max-height: 25rem;
}

#a5{

    background-color: lightgray;
    width: 20rem;
    margin-top: 5rem;
    justify-content: center;
    display: flex;
    max-height: 20rem;
    grid-column: 1rem 1rem;
   
}

#map{
    width: 15rem;
    margin: auto;

}

footer{
    grid-area: ft; 
    background-color: grey;
    display:flex; 
    justify-content:space-around;
}

#first{
    margin: 7rem;
    margin-top: 3rem;

}

#second{
    margin: 7rem;
    margin-top: 3rem;

}

#third{
    margin: 7rem;
    margin-top: 3rem;

}

h4{
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
}

.footer{
    font-size: 1rem;

}