header {
    background-color: black;
    height: 10rem;
    display: flex;
    justify-content: space-between;

}

#hamburgare{
   margin: 1rem;

}

.linje{
    width:2rem;
    border: white solid 2px;
    margin-bottom: 0.5rem;
}

#logga{
    width: 10rem;
    height: 8rem;

}
