#wrapper {
    display:grid;
    grid-template-areas: 
    'hd'
    'bl'
    'se1'
    'se2'
    'ft';
    grid-template-rows: 7.5rem 40rem 1fr 10rem;
    width:100%;
    background-color: rgb(54, 53, 53);
    font-family: 'Readex Pro', sans-serif;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    grid-area: hd;
}

.header{
    text-decoration: none;
    color: white;

}
.header:hover{
    color: lightgray;

}

.main{
    text-decoration: none;
    color: black;

}

.main:hover{
    color:rgb(128, 125, 125);

}

li{
    color: white;
    display: inline;
    margin-left: 2rem;
    font-size: 1.5rem;
}

ul{
    list-style-type: none;
}

nav{
    padding:2rem;
}

#logga{
    width: 13rem;
    height: 8rem;

}
#logga:hover{
    filter: opacity(80%);

}

#startbild{
    grid-area: bl;
    background-image: url('../img/Startbild.jpg');
    border: 4px solid black;
    background-size: cover; 

}

h3{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-align: center;

}

p{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;


}

#se1{
    grid-area: se1;
    display:flex; 
    justify-content: center;

}

#a1{

    background-color: lightgray;
    width: 20rem;
    height: 20rem;
    margin: auto;
    margin-top: 5rem;
}

#a2{

    background-color: lightgray;
    width: 20rem;
    height: 20rem;
    margin: 3rem;
    margin-top: 5rem;
}

#a3{

    background-color: lightgray;
    width: 20rem;
    height: 20rem;
    margin: 3rem;
    margin-top: 5rem;
}

#se2{
    grid-area: se1;
    display:flex; 
    justify-content: center;

}

#a4{

    background-color: lightgray;
    width: 20rem;
    height: 20rem;
    margin: 3rem;
    margin-top: 5rem;
    max-height: 25rem;
}

#a5{

    background-color: lightgray;
    width: 20rem;
    margin-top: 5rem;
    justify-content: center;
    display: flex;
    content: "";
    clear: both;
    display: table;
   
}

#map{
    width: 15rem;
    margin: 2.5rem;

}

footer{
    grid-area: ft; 
    background-color: grey;
    display:flex; 
    justify-content:space-around;
}

#first{
    margin: 7rem;
    margin-top: 3rem;

}

#second{
    margin: 7rem;
    margin-top: 3rem;

}

#third{
    margin: 7rem;
    margin-top: 3rem;

}

h4{
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
}

.footer{
    font-size: 1rem;
    text-align: center;

}

#wrapper2{
    background-color: rgb(54, 53, 53);
    font-family: 'Readex Pro', sans-serif;

    
}

#main2{
    display: flex;
    min-height: 100vh;
    width: 100vw;
    margin: auto;
    grid-template-areas:
    'rad1 rad2 rad3'
    ;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

h1{
    display: flex;
    justify-content: center;
    color:white;


}

p{
    display: flex;

}
#rad1{
    grid-area: rad1;
    max-width: 1fr;
    display: block;
    grid-template-areas: 
    'topleft'
    'bottomleft';

}


#topleft{
    
    margin:2rem;

}

#bottomleft{
    margin:2rem;

}

#rad2{
    grid-area: rad2;
    max-width: 1fr;
    display: block;
    grid-template-areas: 
    'topmiddle'
    'bottommiddle';

}

#middletop{
    margin: 2rem;

}

#middlebottom{
    margin:2rem;

}

#rad3{
    grid-area: rad3;
    max-width: 1fr;
    display: block;
    grid-template-areas: 
    'topmiddle'
    'bottommiddle';

}

#topright {
    margin: 2rem;
}

#middleright {
    margin: 2rem;
}

#bottomright {
    margin: 2rem;
}

#main3{
    display: grid;
    min-height: 100vh;
    width: 100vw;
    margin: auto;
    grid-template-areas:
    'as'
    's1';

}

#aboutus{
    justify-content: center;
    display: flex;
    grid-area: as;
    margin: 2rem;

}

#s1{
    grid-area: s1;
    display:flex; 
    justify-content: center;
    grid-template-areas: 
    'a1 a2 a3'
    ;

}

#a1{
    grid-area: a1;
    background-color: lightgray;
    width: 20rem;
    margin-top: 5rem;
    margin: 3rem;
    justify-content: center;
    display: flex;
    content: "";
    clear: both;
    display: table;
}

#map{
    width: 15rem;
    margin: 2.5rem;

}

#a2{
    grid-area: a2;
    background-color: lightgray;
    width: 20rem;
    height: 20rem;
    margin: 3rem;
    margin-top: 5rem;
}

#a3{
    grid-area: a3;
    background-color: lightgray;
    width: 20rem;
    height: 20rem;
    margin: 3rem;
    margin-top: 5rem;
}
